@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: neurial-grotesk;
  src: url("./assets/Font-Family/NeurialGrotesk-Regular.otf");
}
:root {
  --purple-bgrc: #e6d2ff;
  --purple: #8d34ff;
  --off-white: #fefeff;
  --ff-outfits: "Outfit", sans-serif;
}
nav h2 {
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-size: 28.33px;
}
.login-btn {
  background-color: var(--purple-bgrc);
  color: var(--purple);
  border-radius: 8px;
  border: none;
  height: 61px;
  width: 140px;
  font-weight: 500;
  font-size: 20px;
  font-family: neurial-grotesk;
}
.signup-btn {
  background-color: var(--purple);
  color: #f5f5f5;
  border-radius: 8px;
  border: none;
  height: 61px;
  width: 140px;
  font-weight: 500;
  font-size: 20px;
  font-family: neurial-grotesk;
}
.signin-container {
  background-image: url("assets/136251.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}
.signup-container {
  background-image: url("assets/136251.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}
.card-container {
  width: 30%;
}
.card-img {
  height: 256.62px;
  width: 256.62px;
}
.card-title {
  font-size: 15.97px;
  font-weight: 700;
  font-family: neurial-grotesk;
}
.add-to-cart-btn {
  background-color: var(--purple);
  color: var(--off-white);
  height: 40px;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.perfume-logo {
  width: 193.66px;
  height: 47.2px;
}
.perf {
  font-weight: 700;
  font-family: "Sansita", sans-serif;
  color: #ffffff;
}
form {
  background-color: #ffffff;
  border-radius: 15px;
  width: 640px;
}
form h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  font-family: neurial-grotesk;
  margin-left: 35px;
}
form p {
  font-family: neurial-grotesk;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 35px;
  margin-bottom: 20px;
}
label {
  font-family: neurial-grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-left: 35px;
  margin-bottom: 5px;
}
.name-space {
  width: 210px;
  height: 49px;
  margin-left: 35px;
  border-radius: 5px;
  border: 2.5px solid #dedfe0;
}

.other-space {
  width: 480px;
  height: 49px;
  margin-left: 35px;
  border-radius: 5px;
  border: 2.5px solid #dedfe0;
}
::placeholder {
  padding-left: 10px;
  
}
#check {
  width: 21px;
  height: 19.6px;
  border-radius: 4.2px;
  margin-left: 35px;
  margin-top: 8px;
}
.check-text {
  margin-left: -1px;
  padding-left: 5px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 342.35px;
  height: 40px;
}
.text-term {
  color: #8d34ff;
}
.auth-signup {
  width: 482px;
  height: 64px;
  background-color: #8d34ff;
  border-radius: 15px;
  margin-left: 35px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  font-family: neurial-grotesk;
  margin-bottom: 5px;
  margin-top: 3px;
}
.auth-signup:hover {
  background-color: #8d34ff;
  color: #ffffff;
}
hr {
  width: 441px;
  height: 1px;
  background: rgba(79, 78, 78, 0);
  position: absolute;
  margin-left: 55px;
}
.or-to-hr {
  position: relative;
  text-align: center;
  margin-top: 1px;
  color: rgba(79, 78, 78, 1);
  width: 30px;
  margin-left: 260px;
  background-color: white;
}
.google-btn {
  width: 482px;
  height: 64px;
  background-color: white;
  border-radius: 15px;
  margin-left: 35px;
  color: black;
  font-size: 22px;
  font-weight: 500;
  font-family: neurial-grotesk;
  margin-bottom: 5px;
}
form h6 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  margin-top: 5px;
}

/* Cart */
.cart-h1 {
  font-size: 28px;
}
.title-cart {
  font-weight: 600;
  font-size: 14px;
}
.cart-img {
  width: 95px;
  height: 110px;
  border-radius: 3px;
}
.minus {
  background-color: #716f6f;
  padding: 7px 5px;
  border-radius: 3px;
}
.plus {
  background-color: #8d34ff;
  padding: 5px;
  border-radius: 3px;
}
.cart-d {
  width: 179.69px;
}
.remove {
  border: none;
  background-color: #fff;
  border: 1px solid red;
  border-radius: 3px;
  width: 87.33px;
  height: 26.36px;
  color: red;
}
.order {
  border: none;
  background-color: #8d34ff;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 44px;
}
.price {
  font-weight: 700;
}

@media (max-width: 767px) {
  .signin-container {
    background-image: none;
  }
  .signup-container {
    background-image: none;
  }
  .card-container {
    min-width: 98%;
  }
  .card-title {
    font-size: 20px;
    font-weight: 700;
  }
  .card-img {
    height: 335.55px;
    width: 335.55px;
  }
  form {
    width: 100%;
  }
  form h1 {
    margin-left: 1px;
  }
  form p {
    margin-left: 1px;
  }
  label {
    margin-left: 1px;
    
  }
  .name-space {
    width: 100%;
    height: 49px;
    margin-left: 1px;
  }
  .other-space {
    width: 100%;
    height: 49px;
    margin-left: 1px;
  }
  .auth-signup {
    width: 100%;
    height: 57px;
    font-size: 18px;
    margin-left: 1px;
  }
  #check {
    margin-left: 1px;
  }
  .google-btn {
    width: 100%;
    height: 57px;
    font-size: 18px;
    margin-left: 1px;
  }
  hr {
    width: 302px;
    margin-left: 17px;
  }
  .or-to-hr {
    margin-left: 150px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .card-container {
    min-width: 48%;
    display: flex;
    justify-content: space-between;
  }
  .card-img {
    height: 335.55px;
    width: 335.55px;
  }
}
